<h1>{{ title }}</h1>

<div *ngFor="let meal of meals | keyvalue">
  <h2>{{ meal.key }}ª Refeição</h2>
  
  <ul>
    <li *ngFor="let dish of meal.value">
      <strong>{{ dish.dishName }}</strong> | Carbo: {{ dish.carb }}g | Proteína: {{ dish.prot }}g | Carbo: {{ dish.fat }}g | Calorias: {{ dish.kcal }}kcal 
    </li>
  </ul>
</div>


<h1>Adicione à dieta</h1>

<form [formGroup]="form">

  <input type="number" placeholder="Qual refeição?" formControlName="dietMealId" maxlength="40">
  <input type="text" placeholder="Digite o nome do alimento" formControlName="dietEntryName" maxlength="40">
  <input type="number" formControlName="dietEntryCarbQuantity">
  <input type="number" formControlName="dietEntryProtQuantity">
  <input type="number" formControlName="dietEntryFatQuantity">
  <button (click)="add()">Adicionar</button>
  <button (click)="clearAll()">Remover tudo</button>
</form>